<html>
<head>
<style>
    .ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }
    .ui-autocomplete {
        max-height: 100px;
        max-width: 250px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 100px;
    }

    </style>
    <link rel="stylesheet" href="css/sunny/jquery-ui-1.8.7.custom.css" type="text/css" media="all" /> 
    <script language="javascript" type="text/javascript" src="js/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.ui.core.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.ui.widget.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.ui.mouse.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.ui.position.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery-ui-1.8.6.custom.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.ui.autocomplete.js"></script>
    <script language="javascript" type="text/javascript" src="js/jquery.liveSearch.js"></script>
    <script language="javascript" type="text/javascript" src="js/entrez_live.js"></script>
    <script language="javascript" type="text/javascript">
        initializeEntrezLive("ncbi_lookup_species","ncbi_lookup_term","seq");
    </script>
</head>
    <body>
    <script>
        jQuery(function(){
            var lastXhr;
            jQuery("#ncbi_lookup_term").autocomplete({
                source: function( request, response ){
                   response( getMatchingNuclRecords() ); 
                },
                dataType: "json",
                focus: function( event, ui ) {
                    jQuery( "#ncbi_lookup_term" ).val( ui.item.Caption );
                    return false;
                },
                select: function( event, ui ) {
                    jQuery( "#ncbi_lookup_term" ).val( ui.item.Caption );
                    jQuery( "#ncbi_lookup_term-desc" ).html( ui.item.Title );
                    loadFasta( ui.item.id );
                    return false;
                }

            }) 
            .data( "autocomplete" )._renderItem = function( ul, item ) {
                return $( "<li></li>" )
                    .data( "item.autocomplete", item )
                    .append( "<a>" + item.Caption + "<br><font size=-1>" + item.Title + "</a>" )
                    .appendTo( ul );
            };

        });
    </script>
        <h3>SeqSNP</h3>
        <div name=loading id=loading>
